<br />
<br />
<br />
<br />
<!--  (change)=""onChange($event.target.value) -->
<div class="row">
  <div
    class="col-lg-2"
    style="margin-left: 30px; margin-top: 40px; margin-right: 90px"
  >
    <h2>SELECTED Category</h2>
    <h4>{{ categorys }}</h4>
    <h4>All Categories</h4>
    <select
      class="form-select"
      (change)="onChange($event.target.value)"
      aria-label="Default select example"
    >
      <!-- [(ngModel)]="categorys" -->
      <option>{{ categorys }}</option>
      <option *ngFor="let c of category">
        {{ c }}
      </option>
    </select>
    <hr />
    <div>
      <h2>LOCATIONS</h2>
      <h4>{{ deviceValue }}</h4>
    </div>
    <hr />
  </div>

  <div class="col-lg-8">
    <div *ngIf="!length">
      <h1>No Book is Available</h1>
    </div>
    <div
      class="row"
      *ngFor="
        let b of book_city | paginate: { itemsPerPage: 4, currentPage: p }
      "
    >
      <div class="card" style="margin-top: 30px">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-2">
              <img
                src="http://localhost:3000/{{ b.imgUrl }}"
                alt="img"
                style="width: 170px; height: 180px"
              />
            </div>
            <div class="col-lg-5" style="margin-left: 50px; margin-top: 20px">
              <a routerLink="/product/{{ b._id }}">
                <h2 class="card-subtitle mb-2 text-muted">
                  {{ b.title | titlecase }}
                </h2></a
              >
              <h4 class="card-subtitle mb-2 text-muted">by : {{ b.author }}</h4>
            </div>
            <div class="col-lg-2" style="margin-left: 40px; margin-top: 30px">
              <h1>&#8377; {{ b.price }}</h1>
              <br />
              <br />

              <h4 class="card-subtitle mb-2 text-muted">{{ b.city }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-lg-4">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<!-- 
<div class="container">
    <div class="row" *ngFor="let b of books">

        <div class="col-4">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71t4GuxLCuL.jpg" style="width: 150px; height: 150px;" alt="img">
        </div>
        <div class="col-6">
            <h2>{{b.title}}</h2>
            <h5>by :{{b.author}}</h5>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            
        </div>

        <div class="col-2">
            <h2>&#8377; {{b.price}}</h2>
            <br>
            <br><br><br><br>
            <h3>Location:{{b.city}}</h3>
          
        </div>
        <br>
        <hr>
      
      
    </div>
</div>    

 -->
